.appBar {
    display: flex;
    padding: 8px 140px;
    margin-bottom: 20px;
    color: #747474;
    width: 100%;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-shadow: 0 3px 6px 0 rgba(46, 46, 46, 0.4) !important;
}

.navContainer {
    min-height: 50px;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.appBar .navBrand {
    width: 64px;
}

.home-button {
    vertical-align: bottom !important;
    font-weight: initial !important;
}

.navTitle, .brandTitle {
    font-size: 25px;
    color: #464545;
    display: inline-block;
    line-height: 52px;
    vertical-align: bottom;
    margin-left: 4px;
}

.brandTitle {
    padding-left: 54px;
    font-weight: 600;
}

.appBar .navList {
    font-size: 14px;
    margin: 0;
    list-style: none;
}

.appBar .navListItem {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.appBar .navLink {
    position: relative;
    font-size: 14px;
    color: #464545;
    text-transform: capitalize;
    font-weight: normal;
}

.appBar .navLink:not(:last-child) {
    margin-right: 12px;
}

.tab span{
    font-size: 12px;
}

@media (min-width: 600px) {
    button.tab{
        min-width: 80px;
    }
}

.inline-blank-tab-link {
    color: #464545;
    text-decoration: none;
}