html, body, #root {
    height: 100%;
}

.white {
    background-color: #ffffff !important;
}
.grey {
    background-color: #f5f6f7;
}
.transparent {
    background-color: transparent !important;
}
.flex {
    flex: 1;
}

.container {
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.full-screen-container {
    height: 100%;
}

.main-container {
    height: calc(100% - 100px);
    padding-top: 100px;
}

.round {
    border-radius: 30px;
}

.icon {
    vertical-align: bottom;
}

.left {
    float: left;
}
.right {
    float: right;
}