.moudule-result-container {
    width: 420px;
    height: 106.7vh;
    background-color: #10aeec;
    float: left;
    padding: 24px 70px;
    box-sizing: border-box;;
}
.result-detail-container {
    width: calc(100% - 420px);
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 50px;
}

.module-title {
    font-size: 26px;
}

.module-title-sm {
    font-size: 20px;
}

.module-repo {
    margin-top: 16px;
}

.list-container .btn-group, 
.moudule-result-container .btn-group {
    display: flex;
    justify-content: space-between;
}

.moudule-result-container .btn-group {
    margin-top: 24px;
    margin-bottom: 24px;
}

.moudule-result-container .btn-group button{
    flex: 1;
    max-width: 128px;
}

.result.todo-container {
    padding: 48px 0;
    width: calc(100% - 336px);
    float: left;
}
.list-container {
    margin-top: 24px;
    padding: 0 8px;
}
.result.todo-container .title {
    padding-left: 24px;
}

.list-container .btn-group button span{
    font-size: 12px;
}
.list-container .btn-group button:not(:last-child) {
    margin-right: 8px;
}
.remindder-container {
    padding-left: 54px;
    width: 336px;
    box-sizing: border-box;
    padding-top: 48px;
    float: left;
}
.repo-container {
    padding-top: 56px;
    height: 100%;
    overflow-y: auto;
}
.repo-item {
    padding: 24px;
    border-bottom: solid 0.5px #707070;
    display: flex;
}
.question-container {
    width: 338px;
}
.question-container .link {
    margin-top: 36px;
}
.info-container {
    width: calc(100% - 338px);
    margin-left: 20px;
}
.info-container .link {
    text-align: right;
}

.result-detail-container .container {
    height: 100%;
}

